@import url("https://fonts.cdnfonts.com/css/gotham-pro?styles=24952");
.wraper {
  margin-left: 140px;
}

.container-2 {
  max-width: 1333px;
}
.kuralai {
  margin-left: 30px;
}
.white {
  margin-top: 3px;
}
.navbar {
  background-color: #fff !important;
}
.container-fluid {
  padding: 0;
}
.navbar-brand {
  margin-right: 21px;
}

.btn-outline-primary {
  border: 1px solid #efa969;
  color: #efa969;
  margin-right: 10px;
}
.btn-primary {
  background: #efa969;
  color: white;
  border-color: #efa969;
}
.btn {
  width: 206px;
  padding: 10px;
}
h1 {
  font-size: 55px;
  line-height: 51px;
  margin-bottom: 30px;
}
.p-3 {
  font-size: 24px;
  word-spacing: 3px;
  padding: 0rem !important;
}
.navbar-nav {
  font-size: 21px;
  margin-bottom: 70px;
}
.nav-item {
  margin-left: 18px;
}
.navbar-1 {
  margin-bottom: 90px;
  margin-top: 10px;
}
.cat img {
  position: absolute;
  width: 44%;
  left: -23%;
  top: 122px;
  z-index: 4;
}
.cat {
  position: relative;
}
.dog img {
  position: absolute;
  width: 77%;
  left: 9%;
  top: -99px;
  z-index: 4;
}
.dog {
  position: relative;
}
.selection {
  z-index: 5;
  background: rgb(255, 255, 255);
  padding: 0rem !important;
}
.animals {
  padding-bottom: 11%;
}
.shield {
  display: flex;
}
h3 {
  font-size: 21px;
  padding: 0px 0px 0px 10px !important;
}
.container-2 {
  margin: 0;
}
.p-2 {
  font-size: 14px;
  padding: 0px 0px 0px 0px !important;
}
.shield-1 {
  width: 20px;
  height: 25px;
  padding: 5px 0px 0px 0px !important;
}
.left-nav {
  display: flexbox;
  z-index: 5;
  background: rgb(255, 255, 255);
}
.white-index {
  padding-right: 140px;
  position: relative;
  z-index: 5;
  background: rgb(255, 255, 255);
}
h2 {
  margin: 53px 0px 20px 0px;
  font-size: 41px;
}
.p-4 {
  padding: 0rem !important;
}
h5 {
  font-size: 16px;
}
.justify-content-end {
  margin: -113px 26px 0px 0px;
}
.next {
  width: 20px;
  height: 19px;
  left: -18px;
  top: 0px;
  position: relative;
}
.right-nav {
  display: flex;
  margin-top: 68px;
  margin-left: 53%;
}
.slaide {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
}
.slaide-li {
  margin-left: 15px;
  width: 22%;
}
.card {
  border: 1px solid rgb(255 255 255 / 13%);
}
.btn-humen {
  width: 100%;
}
.btn-ruslan {
  margin-top: 24px;
}
.btn-aidos {
  margin-top: 24px;
}
.card-body {
  padding: 9px 0px 0px 0px;
}
.services {
  width: 30%;
  margin-bottom: 37px;
}
h5 {
  font-size: 20px;
}
.card-text:last-child {
  font-size: 17px;
}
.next-left {
  top: 139px;
  position: relative;
  left: 0px;
}
.next-right {
  position: relative;
  left: 30px;
  top: 139px;
  width: 1px;
  height: 1px;
}
.bot {
  border-radius: 100%;
  background-color: #c4c4c4;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 6px;
}
.slade {
  text-align: center;
  margin-top: 19px;
  margin-left: 118px;
}
.blue {
  background: #bfe4f4;
  margin-right: 25px;
  border-radius: 5%;
  padding: 31px 0px 0px 40px;
  width: 96%;
  overflow: hidden;
}
.orange {
  background: #f3c37c;
  margin-right: 25px;
  border-radius: 5%;
  padding: 24px 0px 0px 40px;
  width: 96%;
  margin-left: -31px;
  overflow: hidden;
}
.green {
  background: #abffc8;
  margin-right: 25px;
  border-radius: 5%;
  padding: 31px 0px 0px 40px;
  width: 96%;
  overflow: hidden;
  margin-left: -53px;
}
.red {
  margin-top: 10px;
  background: #efcece;
  margin-right: 25px;
  border-radius: 5%;
  padding: 31px 0px 0px 40px;
  width: 98%;
  overflow: hidden;
}
.blue-prase {
  color: #2b82a8;
  margin-bottom: 0px;
}
.prace {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  width: 56%;
}
.text {
  font-size: 13px;
  margin-top: 23px;
  width: 45%;
}
.conteiner-prace {
  margin-left: 0px;
  padding-left: 0px;
}
.dog2 {
  margin-top: -44%;
  position: relative;
  width: 60%;
}
.dog3 {
  width: 44%;
  margin-top: -57%;
  position: relative;
}
.cat2 {
  width: 42%;
  margin-top: -47%;
  position: relative;
}
.dog4 {
  width: 61%;
  margin-top: -42%;
  position: relative;
}
.orange-prase {
  color: #fff7ab;
  margin-bottom: 0px;
}
.green-prase {
  color: #479b64;
  margin-bottom: 0px;
}
.red-prase {
  color: #c25454;
  margin-bottom: 0px;
}
.text-green {
  margin-top: 0px;
}
.elipse {
  margin-left: 100%;
  margin-top: -49%;
  width: 45%;
}
.ellipse-orange {
  width: 36%;
  position: absolute;
  left: 64%;
  top: 0%;
  z-index: 3;
}
.ellipse-orange1 {
  position: absolute;
  left: 28%;
  width: 53%;
  top: 407px;
  z-index: 2;
}
.ellipse-ellow2 {
  position: absolute;
  width: 39%;
  left: 50%;
  top: 200px;
}
@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
  .btn-ruslan {
    margin-top: 1px;
  }
  h1 {
    font-size: 44px;
  }
  .p-3 {
    font-size: 20px;
  }
  .btn {
    width: 157px;
  }
  .cat img {
    width: 45%;
    left: -20%;
    top: 158px;
  }
  .dog img {
    width: 72%;
    left: 14%;
    top: 36px;
  }
  .ellipse-orange {
    width: 29%;
    left: 71%;
    top: 66px;
  }
  .ellipse-orange1 {
    left: 34%;
    width: 43%;
    top: 402px;
  }
  .ellipse-ellow2 {
    width: 24%;
    left: 56%;
    top: 275px;
  }
  .justify-content-end {
    margin: -113px 15px 0px 0px;
  }
  .slaide-li {
    margin-left: 30px;
    width: 19%;
  }
  .next-left {
    top: 87px;
    left: 21px;
  }
  .next-right {
    left: 17px;
    top: 87px;
  }
  .card-text:last-child {
    font-size: 15px;
  }
  .blue {
    padding: 15px 0px 0px 15px;
  }
  .orange {
    padding: 15px 0px 0px 15px;
  }
  .green {
    padding: 15px 0px 0px 15px;
  }
  .red {
    padding: 15px 0px 0px 15px;
  }
  .text {
    font-size: 11px;
    margin-top: 7px;
    width: 58%;
  }
  .cat2 {
    margin-top: -55%;
  }
  .dog3 {
    margin-top: -62%;
  }
  .dog4 {
    margin-top: -47%;
  }
  .prace {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  .next {
    width: 17px;
    height: 17px;
    left: -19px;
    top: -4px;
  }
  h5 {
    font-size: 14px;
  }
  .white-index {
    padding-right: 100px;
  }
  .wraper {
    margin-left: 100px;
  }
  .cat {
    display: none;
  }
  .dog {
    display: none;
  }
  .ellipse-orange {
    width: 33%;
    left: 67%;
  }
  .ellipse-orange1 {
    left: 29%;
    width: 55%;
    top: 378px;
  }
  .ellipse-ellow2 {
    width: 27%;
    left: 52%;
    top: 259px;
  }
  .text-animals {
    z-index: 4;
  }
  .navbar-1 {
    margin-bottom: 51px;
  }
  .p-2 {
    font-size: 11px;
  }
  h3 {
    font-size: 17px;
  }
  .btn-humen {
    width: 137px;
    font-size: 12px;
  }
  .slaide-li {
    margin-left: 20px;
  }
  .card-text:last-child {
    font-size: 13px;
  }
  .btn-ruslan {
    margin-top: 2px;
  }
  .slade {
    margin-left: 126px;
  }
  .btn-aidos {
    margin-top: 21px;
  }
  h2 {
    margin: 26px 0px 13px 0px;
    font-size: 33px;
  }
  .p-4 {
    font-size: 12px;
  }
  .text {
    font-size: 8px;
  }
  .prace {
    font-size: 16px;
  }
  .blue {
    width: 100%;
  }
  .orange {
    width: 100%;
    margin-left: -14px;
  }
  .green {
    width: 100%;
    margin-left: -19px;
  }
  .red {
    width: 100%;
  }
  .blue-prase {
    font-size: 10px;
  }
  .orange-prase {
    font-size: 10px;
  }
  .green-prase {
    font-size: 10px;
  }
  .red-prase {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .white-index {
    padding-right: 70px;
  }
  h1 {
    line-height: 41px;
    font-size: 37px;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 13px;
  }
  .navbar-1 {
    margin-bottom: 44px;
  }
  .ellipse-orange1 {
    left: 30%;
    width: 59%;
    top: 309px;
  }
  .ellipse-ellow2 {
    left: 54%;
    top: 242px;
  }
  .btn {
    width: 124px;
  }
  .next {
    width: 12px;
    height: 13px;
    left: -18px;
    top: -7px;
  }
  h5 {
    font-size: 13px;
  }
  .justify-content-end {
    margin: -70px 6px 0px 0px;
  }
  h2 {
    font-size: 29px;
  }
  .p-4 {
    font-size: 11px;
  }
  .wraper {
    margin-left: 70px;
  }
  .kuralai {
    margin-left: 86px;
  }
  .next-left {
    display: none;
  }
  .next-right {
    display: none;
  }
  .slaide-li {
    margin-left: 14px;
    width: 21%;
  }

  h5 {
    font-size: 12px;
  }
  .card-text:last-child {
    font-size: 11px;
  }
  .btn-humen {
    width: 119px;
    font-size: 11px;
  }
  .slade {
    margin-left: 133px;
  }
  .slaide {
    margin-top: 96px;
    margin-left: -14px;
  }
  h5 {
    font-size: 10px;
  }
  .card-text:last-child {
    font-size: 11px;
  }
  .btn-humen {
    width: 100%;
    font-size: 9px;
  }
  .btn-aidos {
    margin-top: 20px;
  }
  .bot {
    width: 7px;
    height: 7px;
  }
  h2 {
    font-size: 24px;
  }
  .p-4 {
    font-size: 7px;
  }
  .blue-prase {
    font-size: 20px;
  }
  .orange-prase {
    font-size: 20px;
  }
  .green-prase {
    font-size: 20px;
  }
  .red-prase {
    font-size: 20px;
  }
  .prace {
    font-size: 33px;
    width: 51%;
  }
  .text {
    font-size: 15px;
    margin-top: 4px;
  }
  .dog2 {
    margin-top: -28%;
    width: 38%;
  }
  .dog3 {
    margin-top: -29%;
    width: 27%;
  }
  .cat2 {
    margin-top: -26%;
    width: 26%;
  }
  .dog4 {
    margin-top: -27%;
    width: 41%;
  }
  .elipse {
    margin-top: -28%;
    width: 26%;
  }
  .p-3 {
    font-size: 16px;
    width: 63%;
  }
  h3 {
    font-size: 10px;
    padding: 0px 0px 0px 2px !important;
  }
  .shield-1 {
    width: 12px;
    height: 18px;
    padding: 2px 0px 3px 0px !important;
  }
  .p-2 {
    font-size: 8px;
  }
  .display-prace {
    display: block;
  }
  .green {
    width: 324%;
    margin-left: 0px;
    padding: 30px 0px 0px 35px;
    margin-top: 10px;
  }
  .red {
    padding: 30px 0px 0px 35px;
    width: 324%;
  }
  .orange {
    padding: 30px 0px 0px 35px;
    margin-left: 0px;
    width: 324%;
    margin-top: 10px;
  }
  .blue {
    padding: 30px 0px 0px 35px;
    width: 324%;
  }
  .container,
  .container-sm {
    max-width: 700px;
  }
  .btn-ruslan {
    margin-top: 18px;
  }
}
@media (max-width: 576px) {
  .next {
    width: 8px;
    height: 8px;
    left: -18px;
    top: -10px;
  }
  .p-2 {
    font-size: 11px;
  }
  h3 {
    font-size: 12px;
  }
  .align-items-start {
    display: block;
  }
  .white-index {
    padding-right: 38px;
  }

  h1 {
    font-size: 28px;
  }
  .p-3 {
    font-size: 14px;
  }
  .ellipse-orange {
    width: 41%;
    top: 95px;
    left: 59%;
  }
  .slaide {
    margin-top: 73px;
  }
  .btn-humen {
    width: 110%;
    font-size: 6px;
    padding: 7px;
    margin-top: -11px;
  }
  h5 {
    font-size: 6px;
  }
  .slaide-li {
    width: 20%;
    margin-left: 9px;
  }
  .wraper {
    margin-left: 38px;
  }
  .btn-ruslan {
    margin-top: -11px;
  }
  .bot {
    width: 4px;
    height: 4px;
    margin-left: 3px;
  }
  .slade {
    margin-left: 112px;
    margin-top: -3px;
  }
  .btn-aidos {
    margin-top: -10px;
  }
  .card-text:last-child {
    font-size: 5px;
  }
  .card-title {
    margin-bottom: 3px;
  }
  .services {
    width: 70%;
  }
  .blue {
    width: 324%;
  }
  .orange {
    width: 324%;
  }
  .green {
    width: 324%;
  }
  .green {
    width: 324%;
  }
  .blue-prase {
    font-size: 13px;
  }
  .orange-prase {
    font-size: 13px;
  }
  .green-prase {
    font-size: 13px;
  }
  .red-prase {
    font-size: 13px;
  }
  .prace {
    font-size: 20px;
  }
  .text {
    font-size: 11px;
  }
  .dog3 {
    margin-top: -35%;
  }
  .cat2 {
    margin-top: -33%;
  }
  .dog4 {
    margin-top: -33%;
  }
  .ellipse-orange1 {
    left: 11%;
    width: 73%;
  }
  .ellipse-ellow2 {
    left: 42%;
    top: 236px;
  }
}
@media (max-width: 523px) {
  .btn-kuralai {
    margin-top: -18px;
  }
}
@media (max-width: 381px) {
  .btn-ruslan {
    margin-top: -17px;
  }
  .btn-humen {
    font-size: 5px;
  }
  .text {
    font-size: 7px;
  }
  .prace {
    font-size: 16px;
  }
  .blue-prase {
    font-size: 8px;
  }
  .orange-prase {
    font-size: 8px;
  }
  .green-prase {
    font-size: 8px;
  }
  .red-prase {
    font-size: 8px;
  }
}
